.fp-section {
    position: relative;
    box-sizing: border-box;
    height: 800px;
}

.fp-section.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

body {
    margin: 0 auto;
    max-width: 500px;
}

.iframe {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.player {
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 5;
    width: 10%;
    cursor: pointer;
}

.next {
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 5;
    margin-left: -5%;
    width: 10%;
    cursor: pointer;
}

.stay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.section img {
    display: none;
    position: absolute;
    left: 50%;
}

#f11 {
    top: 10%;
    margin-left: -50%;
    width: 100%;
}

#f12 {
    top: 29%;
    margin-left: 29%;
    width: 10%;
}

#f13 {
    top: 56%;
    margin-left: -45%;
    width: 90%;
}

#f14 {
    top: 14%;
    margin-left: -40%;
    width: 78%;
}

#f21 {
    top: 22%;
    margin-left: -46%;
    width: 50%;
}

#f22 {
    bottom: 0;
    margin-left: -50%;
    width: 100%;
}

#f23,
#f24 {
    top: 3%;
    margin-left: -43%;
    width: 87%;
}

#f25 {
    bottom: 41%;
    margin-left: 38%;
    width: 6%;
}

#f26 {
    top: 17%;
    margin-left: 22%;
    width: 22%;
}

#f31 {
    bottom: 13%;
    margin-left: -50%;
    width: 100%;
}

#f32 {
    bottom: 0;
    margin-left: -46%;
    width: 68%;
}

#f33 {
    bottom: 0;
    margin-left: -50%;
    width: 100%;
}

#f34 {
    top: 52%;
    margin-left: 11%;
    width: 39%;
}

#f35 {
    top: 5%;
    margin-left: -47%;
    width: 94%;
}

#f36 {
    top: 7%;
    margin-left: -44%;
    width: 87%;
}

#f37 {
    bottom: 47%;
    margin-left: 32%;
    width: 9%;
}

#f38 {
    top: 4%;
    margin-left: 20%;
    width: 24%;
}

#f41 {
    bottom: 3%;
    margin-left: -80%;
    width: 150%;
}

#f42 {
    bottom: 13%;
    margin-left: -47%;
    width: 94%;
}

#f43 {
    bottom: 2%;
    margin-left: -55%;
    width: 110%;
}

#f44 {
    bottom: 0;
    margin-left: -28%;
    width: 58%;
}

#f45 {
    bottom: 0%;
    margin-left: -50%;
    width: 100%;
}

#f46,
#f47 {
    top: 3%;
    margin-left: -45%;
    width: 90%;
}

#f48 {
    bottom: 32%;
    margin-left: -42%;
    width: 11%;
}

#f49 {
    top: 2%;
    margin-left: 20%;
    width: 24%;
}

#f51 {
    bottom: 2%;
    margin-left: -50%;
    width: 100%;
}

#f52 {
    bottom: 10%;
    margin-left: 16%;
    width: 28%;
}

#f53 {
    bottom: 0;
    margin-left: -43%;
    width: 82%;
}

#f54 {
    bottom: 0;
    margin-left: -50%;
    width: 100%;
}

#f55 {
    bottom: 19%;
    margin-left: -44%;
    width: 85%;
}

#f56,
#f57 {
    top: 3%;
    margin-left: -45%;
    width: 90%;
}

#f58 {
    bottom: 46%;
    margin-left: 27%;
    width: 11%;
}

#f59 {
    top: 5%;
    margin-left: 23%;
    width: 23%;
}

#f61 {
    bottom: 29%;
    margin-left: -26%;
    width: 70%;
}

#f62 {
    bottom: 0;
    margin-left: -50%;
    width: 100%;
}

#f63 {
    bottom: 7%;
    margin-left: -43%;
    width: 90%;
}

#f64 {
    bottom: 27%;
    margin-left: 43%;
    width: 6%;
}

#f65 {
    bottom: 62%;
    margin-left: 27%;
    width: 20%;
}

#f66,
#f67 {
    top: 3%;
    margin-left: -47%;
    width: 94%;
}

#f68 {
    bottom: 26%;
    margin-left: -38%;
    width: 11%;
}

#f69 {
    top: 2%;
    margin-left: 23%;
    width: 24%;
}

#f71 {
    top: 9%;
    margin-left: -35%;
    width: 70%;
}

#f72 {
    top: 53%;
    margin-left: -29%;
    width: 58%;
}

#f73 {
    top: 75%;
    margin-left: -41%;
    width: 82%;
}

#f74 {
    top: 4%;
    margin-left: -40%;
    width: 78%;
}

.bounceInDown,
.bounceInUp,
.bounceInLeft,
.bounceInRight,
.fadeInUp,
.pulse,
.jello,
.tada {
    animation-duration: 1s;
}

.next {
    animation: slideInUp 1s linear 0s infinite alternate;
}

@keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

@keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@keyframes jello {
    from,
    11.1%,
    to {
        -webkit-transform: none;
        transform: none;
    }
    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }
    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }
    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }
    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }
    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }
    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

.jello {
    -webkit-animation-name: jello;
    animation-name: jello;
    -webkit-transform-origin: center;
    transform-origin: center;
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}